body{
    margin: 0;
    background-color: #FFEBEB;
}
#dashboard{
    height: 25vh;
    width: 100%;
    background-color: #FFC6C6;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#swipe-arrows-container{
width: 17vw;
height:5vh;
display: flex;
justify-content: space-between;

}
.swipe-arrow-container{
    width:40%;
    border-radius: 10px;
    border: 1px solid #707070;
    background-color: white;
    display: flex;
    justify-content: center;
    padding: 4px;
}
#main-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height:100vh;
}
.items-container{
    display: flex;
    max-height:8rem;
    width: 100%;
    overflow-x: auto;
    margin-top: 1rem;
}
.items-container .item-container{
   
    min-width: 6rem;
    height: 6rem;
    line-height: 6rem;
    text-align: center;
    border-radius: 10px;
    border: 1px solid #707070;
    background-color: rgb(255, 255, 255);
}
.items-container::-webkit-scrollbar{
    width: 0;
}
.item-container{
    margin-left: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#return-arrow{
    margin-top: 1rem;
    margin-left: 1rem;
    position: absolute;
    border: 0;
    
    
}

#return-arrow2{
    margin-top: 1rem;
    margin-left: 1rem;
    position: absolute;
    border: 0;}
    
#landscape-container{
    border-radius: 10px;
    width: 70vw;
    height: 60vh;
    border: 1px solid #707070;
    margin-left: 15vw;
    margin-top: 10vh;
}
#landscape-container div img{
    width:300%;
    height:300%;

}
#landscape-img{
    border-radius: 10px;
    width: 70vw;
    height: 60vh;
}
.item   {
    width: 3em;
    height: 3em;
    cursor: pointer;
    color:aqua;
}
.img{
    width: 3em;
    height: 3em;
    left:0;
    position: absolute;
    cursor: pointer;
    color:aqua;
  
}

